.PhotoLenta {

}

.PhotoLenta__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.PhotoLenta__postBox {
  display: flex;
  overflow: hidden;
  border: 1px solid white;
}

.PhotoLenta__postBox:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.PhotoLenta__postPhoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.PhotoLenta__postPhoto--high {
  display: none;
}

.PhotoLenta__postPhoto--loaded + .PhotoLenta__postPhoto--low {
  display: none;
}

.PhotoLenta__postPhoto--loaded {
  display: block;
}
